@model IEnumerable<BookandBeats.Models.Author>

<h1>Authors</h1>

<a asp-action="Create" class="btn btn-primary">Add New Author</a>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var author in Model)
        {
            <tr>
                <td>@author.FirstName @author.LastName</td>  <!-- Updated to use FirstName and LastName -->
                <td>
                    <a asp-action="Details" asp-route-id="@author.AuthorId" class="btn btn-info">Details</a>
                    <a asp-action="Edit" asp-route-id="@author.AuthorId" class="btn btn-warning">Edit</a>
                    <a asp-action="Delete" asp-route-id="@author.AuthorId" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
