@model IEnumerable<BookandBeats.Models.BookAuthor>

<h1>Book-Author Associations</h1>

<a asp-action="Create" class="btn btn-primary">Add New Association</a>

<table class="table">
    <thead>
        <tr>
            <th>Book Title</th>
            <th>Author Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var bookAuthor in Model)
        {
            <tr>
                <td>@bookAuthor.Book.Title</td>
                <td>@bookAuthor.Author.FirstName @bookAuthor.Author.LastName</td>
                <td>
                    <a asp-action="Details" asp-route-id="@bookAuthor.BookAuthorId" class="btn btn-info">Details</a>
                    <a asp-action="Edit" asp-route-id="@bookAuthor.BookAuthorId" class="btn btn-warning">Edit</a>
                    <a asp-action="Delete" asp-route-id="@bookAuthor.BookAuthorId" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
